<div class="container">
    <table class="highlight">
        <thead>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </thead>
        <tbody>
            <tr *ngFor="let d of sdata">
                <td>{{d.productId}}</td>
                <td>{{d.productName}}</td>
                <td>{{d.productPrice}}</td>
                <td>
                    <input type="button" value="Add to Cart" class="waves-effect waves-light btn" (click)="addToCart()">
                </td>
            </tr>
        </tbody>
    </table>
</div>